@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* ============================== Global Styles =============================== */

* {
    margin: 0;
    padding: 0;
}

/* -- Custom styled scrollbars, discovered in article by Sara Cope, then modified 
        for my project @ https://css-tricks.com/almanac/properties/s/scrollbar/  -- */

body::-webkit-scrollbar {
    width: 0.18rem;
    height: 0.20rem;
}

body::-webkit-scrollbar-track {
    background: rgb(236, 236, 236);
}

body::-webkit-scrollbar-thumb {
    background: rgb(161, 202, 211);
}

html, body {
    scroll-behavior: smooth;
    background: rgb(234, 238, 238);
}

/*-- smooth box-shadow snippet borrowed then tweaked and later adapted for text-shadow, 
        from: Tobias Ahlin at: https://tobiasahlin.com/blog/layered-smooth-box-shadows/ --*/

.navbar {
    box-shadow: 0 2px 1px rgba(88, 88, 90, 0.01), 
                0 4px 2px rgba(88, 88, 90, 0.01), 
                0 8px 4px rgba(88, 88, 90, 0.01),
                0 16px 8px rgba(88, 88, 90, 0.01),  
                0 32px 16px rgba(88, 88, 90, 0.01);
}  

/* ============================== Link Styles =============================== */

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: rgb(3, 130, 161);
    font-weight: 600;
}

.navbar-custom .navbar-nav .nav-item a {
    color: rgb(160, 158, 158);
    font-size: 1.2rem;
}

.navbar-custom .navbar-nav .nav-item a:hover { 
    color: pink;
}

/* ============================== Font styles  =============================== */

p {
    font-family: "Nunito sans light", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-size: 1rem;
    line-height: 2.10rem;
    word-spacing: 0.04rem;
    overflow-wrap: break-word;
    color: rgb(11, 11, 11);
}

h1, h2, 
h3, h4, h5{
    font-family: "Acumin-Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.nav-item a, .navbar-toggler,
.nav-close-toggle,
.navbar-custom .navbar-brand {
    font-family: "Acumin-Pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
    color: rgb(43, 43, 43);
    z-index: 1;           
}

.navbar-toggler span {
    display: flex;
    font-size: 1.2rem;
}

.navbar-custom .navbar-brand:hover,
.navbar-toggler:hover {
    color: #4F8EA8;
    transition: all ease-out 50ms;
}

.body-copy {
    display: block;
    margin-top: 160px;
    padding-bottom: 80px;
}

.project-caption {
    display: block;
    text-align: left;
    padding: 4px 0 0 0;
    font-size: 13px;
    font-weight: 300;
}

/* ============================== Navigation Styles =============================== */

.nav-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100vh;
    z-index: 999;
}

.navbar {
    display: flex;
    width: 100vw;
    height: 72px;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    background: rgb(234, 238, 238);
    right: 0;
    top: 0;
}

.navbar-custom .navbar-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(234, 238, 238);
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 18vh 4vw 33vh 0; 
    transition: all ease-in 300ms;
    z-index: 1;
}

.navbar-custom .navbar-brand {
    z-index: 2;
    position: fixed;
    left: 6vw;
    top: 14px;
}

.navbar-toggler {
    position: fixed;
    right: 4vw;
    top: 20px;
    font-size: 1.5rem;
    border: none;
    z-index: 4;
}

/* ============================== Photo Styles =============================== */

.gallery-wrapper {
    display: flex;
    position: absolute;
    top: 67px;
    width: 100%;
}

.photo-wrap {
    margin-top: 70px;
}

.gallery-frame {
    padding-top: 6vw;
}

.photo-frame {
    padding-top: 200px;
    display: flex;
} 

.gallery-photo-padding {
    padding-top: 122px;
}

.gallery-end {
    padding-bottom: 120px;
}

img {
    max-width: 100%;
    margin: auto auto;
    display: block;
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(156, 156, 156, 0.02), 
                0 4px 2px rgba(156, 156, 156, 0.02),
                0 8px 4px rgba(156, 156, 156, 0.01),
                0 16px 8px rgba(156, 156, 156, 0.01);
}

.index-welcome-image-wrapper {
    display: grid;
    place-items: center;
    /* height: calc(100vh - 68px); */
    position: absolute;
    top: 100px;
}

.index img {
     max-height: 80vh;
}

/* ============================== Media Queries =============================== */

@media (min-width: 768px) {
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-nav .nav-item a {
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {

    nav {
        display: flex;
        flex-direction: column;
    }

    .navbar-custom .navbar-nav {
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0;
        right: 0;
        align-items: center;
        justify-content: flex-end;
        height: 70px;
        margin-right: 24px;
        padding: 0 22px 0 calc(100vw - 22px);
        width: 100vw;
    }

    .nav-item { 
        padding-right: 24px;
    }

    .body-copy {    
        margin-top: 200px;
        padding-bottom: 100px;
    }

    .prints-body {
        display: block;
        position: absolute;
        top: 146px;
        left: 164px;
    }
}

/* @media (min-width: 1400px) {
    .navbar-custom .navbar-brand {
        position: flex;
        margin-left: 20vw;
        margin-right: auto;
    } */


/* <!-- <div class="row container-fluid mx-auto pb-2 index-welcome-image-wrapper">
    <div class="col-13 mx-auto pb-2 my-auto mb-auto img-fluid index"><img src="https://thomasmcquillan.github.io/Milestone-One-Project/assets/images/index-images/springmuscle.jpg"
        alt="green muscle car at roadside in spring"
        srcset="
            https://thomasmcquillan.github.io/Milestone-One-Project/assets/images/index-images/springmuscle.jpg 1400w,
            https://thomasmcquillan.github.io/Milestone-One-Project/assets/images/index-images/springmuscle@0.75x.jpg 1050w,
            https://thomasmcquillan.github.io/Milestone-One-Project/assets/images/index-images/springmuscle@0.55x.jpg 700w,
            https://thomasmcquillan.github.io/Milestone-One-Project/assets/images/index-images/springmuscle@0.33x.jpg 462w,
            https://thomasmcquillan.github.io/Milestone-One-Project/assets/images/index-images/springmuscle@0.25x.jpg 350w"
        sizes="(min-width: 1400px) 1400px, 100vw">
    </div>
</div> --> */

    /* ==================testing carousel ========== */

.index-fade {
    position: 
}


.fadein { 
    opacity:0; 
    animation-name: fade; 
    animation-duration: 9s; 
    animation-iteration-count: infinite; 
    position:absolute; 
    left:0; 
    right:0; 
}

.fadein img:nth-child(1) { animation-delay: 0s; }
.fadein img:nth-child(2) { animation-delay: 3s; }
.fadein img:nth-child(3) { animation-delay: 6s; }

@keyframes fade {
  0%        { opacity: 0; }
  11.11%    { opacity: 1; }
  33.33%    { opacity: 1; }
  44.44%    { opacity: 0; }
  100%  { opacity: 0; }
}


/* .fadein img { 
    opacity:0; 
    animation-name: fade; 
    animation-duration: 9s; 
    animation-iteration-count: infinite; 
    position:absolute; 
    left:0; 
    right:0; 
}

.fadein img:nth-child(1) { animation-delay: 0s; }
.fadein img:nth-child(2) { animation-delay: 3s; }
.fadein img:nth-child(3) { animation-delay: 6s; }

@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
} */

.index-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover !important;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 29%, rgba(0,0,0,0.65) 100%), url(https://thomasmcquillan.github.io/Milestone-One-Project/assets/images/index-images/springmuscle.jpg) no-repeat center center scroll;
}

h1 {
  font-style: normal;
  font-weight: bold;
  color: #eee;
  font-size: 11vmin;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 11px;
}
/* 
.thom-landing {
  margin: 40px auto;
  font-family: 'Futura', sans-serif;
  font-size: 80px;
  line-height: 90px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: -1px 1px 0 #41ba45,
				  1px 1px 0 #c63d2b,
				 1px -1px 0 #42afac,
				-1px -1px 0 #c6c23f;
}

.thom-landing ~ h2 {
    font-size: 60px;
}


.thomas-landing-banner { 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 57%, rgba(86,72,72,0.25) 100%), url("https://live.staticflickr.com/5087/5374560217_ef10d43e0d_o.jpg") no-repeat center center scroll;
    background-size: cover !important;
}


.thomas-index-landing {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 0;
    background-image: url("https://live.staticflickr.com/5087/5374560217_ef10d43e0d_o.jpg");
    @include animation(slider-sm ease-in-out 30s both infinite): ;
    @media (min-width: 32ems) {;
    background-image: url../images/career.jpg);
    @include animation(slider-lg ease-in-out 30s both infinite): ;
    }
; */
/* .thomas-index-landing {
background-image: url(https://live.staticflickr.com/5087/5374560217_ef10d43e0d_o.jpg)
background-position-x: 50%
background-position-y: 50%
background-repeat-x
background-repeat-y
background-size: cover
display block
height 1293px
position absolute
top 0px
width 1261px
z-index 0
} */



.imgbox{
  display: flex; 
  align-items: center;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover; 
}

#img1{
  position: absolute;
  z-index: 3;
  animation: xfade 15s -0s infinite;
  animation-timing-function: ease-in-out;
}

#img2{
  position: absolute;
  z-index: 2;
  animation: xfade 15s -5s infinite;
  animation-timing-function: ease-in-out;
}

#img3{
  position: absolute;
  z-index: 1;
  animation: xfade 15s -10s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes xfade{

     0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}