* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

#hero-background { 
    width: cover;
    height: 100%; 
    min-width: 100vw;
    position: fixed;
    /* position: relative;  */
    background-size: cover;
    background-color: white;
}   

.navbar {
    background-color: #fff;
    transition: all 5ms ease-in-out;
}

.navbar-custom .navbar-nav,
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: lightslategrey;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 1.1rem;
    align-items: flex-start;
    flex-wrap: nowrap;
    transition: all 5ms ease-in-out;
}

.navbar-custom .navbar-brand {
    font-size: 1.4rem;
    margin-left: 9px;
}

.navbar .navbar-brand:hover {
    color: darkslategrey;
}

.navbar-custom .navbar-nav {
    display: inline-flex;
    justify-items: flex-end;
    position: fixed;
    right: 0;
}

.nav-item {
    justify-items: right;
    position: relative;
    margin-right: 14px;
    right: 0;
}

.nav-item a {
    display: inline-block;
    position: relative;
    right: 0;
    padding: 0;
}

.navbar-nav .nav-link a {
    justify-self: right;
    padding: 0 14px 0 0;
}

.navbar-custom .navbar-nav .nav-item a {
    color: lightslategrey;
    background-color: none;
}

.navbar-custom .navbar-nav .nav-item a:hover {
    color: darkslategrey;
}

.navbar-custom .navbar-toggler {
    display: inline-flex;
    justify-content: flex-end;
    font-size: 1rem;
    padding: 0;
    border: none;
    color: rgb(183, 193, 202);
    width: 2rem;
    height: 2rem;
    /* border: 1px solid orange; */
}

.navbar-custom .navbar-toggler:hover {
    color: darkslategrey;
}

@media only screen and (max-width : 767px) {
    nav {
        background-color: rgba(248, 248, 248, 0.724);
    }

    .navbar-custom .navbar-brand {
        display: block;
        z-index: 999;
        background: linear-gradient(to right, #89B3C0 0%, 22.019867599010468%, #DE7684 44.039735198020935%, 72.01986759901047%, #8FA975 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
    nav .navbar-nav {
        display: flex;
        justify-items: center;
        width: 100vw;
        height: 100vh;
        background-color : rgba(248, 248, 248, 0.724);
    }

    nav ul {
        display: block;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 66vh;
        background: #fff;
    }
    
    .nav-link {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        padding: 20px 0 20px 0;
        text-align: center;
        width: 100vw;
        font-weight: 500;
        /* background: linear-gradient(to right, #89B3C0 0%, 22.019867599010468%, #DE7684 44.039735198020935%, 72.01986759901047%, #8FA975 100%); */
    }  

.navbar-custom .navbar-nav .nav-link a {
    width: fit-content;
    height: 6rem;
    margin: auto;
    font-size: 4rem;
    font-weight: 400;
    display: inline-block;
    text-transform: uppercase;
/* ---text-shadow attribute read about here: https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow, then modified to suit my tastes---  */
    text-shadow: rgba(246, 145, 158, 0.259) 2px 1px 3px;
/* "background-clip: text;" researched in article by Chris Coyier at https://css-tricks.com/almanac/properties/b/background-clip/
 then modified to suit my project's aesthetic, using a linear gradient I created from one of my photographs using Adobe Colors */
    background: linear-gradient(to right, #89B3C0 0%, 22.019867599010468%, #DE7684 44.039735198020935%, 72.01986759901047%, #8FA975 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-custom .navbar-nav .nav-link a:hover {
    text-shadow: rgba(156, 215, 233, 0.8) 2px 1px 3px;
    background: linear-gradient(to right, #8FA975 0%, 22.019867599010468%, #DE7684 44.039735198020935%, 72.01986759901047%, #89B3C0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    .navbar-custom .navbar-toggler {
        position: fixed;
        z-index: 99;
        right: 1.4rem;
    }

    .nav-link-smooth {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 15vh 20px 15vh 20px;
        transition: ease-in-out all 5ms;
    }
}

/* @media only screen and (min-width : 768px) { */

@media only screen and (min-width : 768px) {
    .navbar-custom .navbar-toggler {
        display: none;
    }
    .navbar-nav {
        margin-right: 3.5vw;
        background: linear-gradient(to right, #89B3C0 0%, 22.019867599010468%, #DE7684 44.039735198020935%, 72.01986759901047%, #8FA975 100%);
    }
}

/* <!-- Photo section --> */

.container-fluid {
    width: 97vw;
}

.photo-spacer {
    padding-top: 28vw;
}