* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

#hero-background { 
    width: cover;
    height: 100%; 
    min-width: 100vw;
    position: fixed;
    /* position: relative;  */
    background-size: cover;
    background-color: white;
}   

.navbar {
    background-color: #fff;
    transition: all 5ms ease-in-out;
}


.navbar-custom .navbar-nav,
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: lightslategrey;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 1.1rem;
    align-items: flex-start;
    flex-wrap: nowrap;
    transition: all 5ms ease-in-out;
}

.navbar .navbar-brand:hover {
    color: darkslategrey;
}

.navbar-custom .navbar-nav {
    display: inline-flex;
    justify-items: flex-end;
    position: fixed;
    right: 0;
}

.nav-item {
    justify-items: right;
    position: relative;
    margin-right: 14px;
    right: 0;
}

.nav-item a {
    display: inline-block;
    position: relative;
    right: 0;
    padding: 0;
}

.navbar-nav .nav-link a {
    justify-self: right;
    padding: 0 14px 0 0;
}

.navbar-custom .navbar-nav .nav-item a {
    color: lightslategrey;
    background-color: none;
}

.navbar-custom .navbar-nav .nav-item a:hover {
    color: darkslategrey;
}

.nav-collapse-container .nav-item {
    position: relative;
    margin-right: 0px;
    padding: 0;
    text-align: right;
}

.navbar-custom .navbar-toggler {
    display: inline-flex;
    justify-content: flex-end;
    font-size: 1rem;
    padding: 0;
    border: none;
    color: rgb(183, 193, 202);
    /* border: 1px solid orange; */
}

.navbar-custom .navbar-toggler:hover {
    color: darkslategrey;
}

@media only screen and (max-width : 767px) {
    nav * {
        padding: 0;
        margin: 0;
        background: none;
    }
    
    .navbar-nav .nav-item a {
        padding: 0;
        justify-content: right;
    }

    .nav-link-smooth {
        display: flex;
        flex-direction: column;
        text-align: right;
        right: 0;
        width: 100vw;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (min-width : 768px) {

    .navbar-custom .navbar-toggler {
        display: none;
    }
}



/* <!-- Photo section --> */

.gallery {
    display: flex;
    padding-top: 300px;
}

.gallery img {
    padding-top: 40px;
}

.portfolio-wrapper {
    display: block;
    position: relative;
    /* top: 140px; */
    padding-top: 70px;
    width: 100vw;

}

.img-wrapper {
    display: block;
    position: relative;
    padding: 10px 0 0 0;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: calc(0.5 * 100vw);
}

.photo-frame {
    display: inline-flex;
    position: relative;
    padding-top: 200px;
}

.photo-frame img {
    padding-top: 20px;
}

.row {
    padding-bottom: 6vw;
    background: transparent;
}

.col {
    background: transparent;
}

div {
    background: transparent;
}
