html, body { 
    margin: 0;
    padding: 0;
    width: 100vw; 
    height: 100vw; 
    font-size: 18px;
    font-family: 'freight-sans-pro', sans-serif;
    font-weight: 300;
    color: white;
    background-color:#fff;
}

 
    /* hero / wallpaper
=======----=-=---------=== */

/* #hero-background { 
    display: flex;
    width: cover;
    height: 100%; 
    min-width: 100vw;
    max-height: 100vh;
    position: fixed;
    background-image: url("https://live.staticflickr.com/6131/5972460380_d2057c8b6f_k.jpg");
    background-clip: border-box;
    background-size: cover;
    background-color: transparent;
} */

.hero-background-fade { 
    display: flex;
    width: cover;
    height: 100%; 
    min-width: 100vw;
    max-height: 100vh;
    position: fixed;
    background-image: url("https://live.staticflickr.com/6131/5972460380_d2057c8b6f_k.jpg");
    background-clip: border-box;
    background-size: cover;
    background-color: transparent;
    animation: opacity(0) 8s alternate infinite;
}

@keyframes opacity {
        0% {
            background-image: url("https://live.staticflickr.com/6131/5972460380_d2057c8b6f_k.jpg");
            background-size: 100vw;
            opacity: 100%;
        }
        40% {
            background-image: url("https://live.staticflickr.com/6131/5972460380_d2057c8b6f_k.jpg");
            background-size: 100vw;
            opacity: 100%;
        }
        50% {
            background-image: url("https://live.staticflickr.com/6131/5972460380_d2057c8b6f_k.jpg");
            background-size: 100vw;
            opacity: 0%;
        }
        100% {
            background-image: url("https://live.staticflickr.com/6131/5972460380_d2057c8b6f_k.jpg");
            background-size: 100vw;
            opacity: 0%;
        }
    }

.hero-fade {
    /* display: flex; */
    display: block;
    /* position: fixed; */
    width: cover;
    min-width: 100vw;
    height: 100%;
    /* min-height: 100vh; */
    
    background-clip: border-box;
    background-image: url("https://thomasmcquillan.github.io/Milestone-One-Project/assets/images/winter01.jpeg");
    background-repeat: no-repeat;
    background-color: transparent;
    animation: opacity(1) 8s alternate infinite;
}

@keyframes opacity {
        0% {
            background: url("https://thomasmcquillan.github.io/Milestone-One-Project/assets/images/winter01.jpeg");
            background-size: 100vw;
            opacity: 0%;
        }
        40% {
            background: url("https://thomasmcquillan.github.io/Milestone-One-Project/assets/images/winter01.jpeg");
            background-size: 100vw;
            opacity: 0%;
        }
        50% {
            background: url("https://thomasmcquillan.github.io/Milestone-One-Project/assets/images/winter01.jpeg");
            background-size: 100vw;
            opacity: 100%;
        }
        100% {
            background:url("https://thomasmcquillan.github.io/Milestone-One-Project/assets/images/winter01.jpeg");
            background-size: 100vw;
            opacity: 100%;
        }
    }

.contact-cover-image {
    width: cover;
    height: 100%; 
    min-width: 100vw;
    position: fixed; 
    background-image: url("https://live.staticflickr.com/5297/5427265869_d2f19f56a0_k.jpg");
    background-size: cover;
}

nav {
    width: 200px;
    height: 100vh;
}

.logo {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    font-weight: 400;
    margin: 16px auto auto 16px;
    font-size: 1.5rem;
}

.logo-text {
    display: block;
    text-align: left;
    position: fixed;
    top: 0;
    left: 12px;
    background: linear-gradient(to right, #89B3C0 0%, 22.019867599010468%, #DE7684 44.039735198020935%, 72.01986759901047%, #8FA975 100%);
    background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.navbar {
    /* display: flex; */
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 33vw;
    height: 100vh;
    flex-direction: column;
}

.navbar-nav {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    /* justify-items: flex-start; */
    height: 100%;
    width: 100vw;
    list-style: none;
       background-color: #fff;
    padding: 0;
    margin: 18vh auto auto 16px;
/* border for layout positioning, remove later */
    /* border: 1px solid orange; */
}

.nav-item {
    width: 100%;
}

.nav-link {
  display: block;
  position: relative;
  width: 100%;
  align-items: center;
  width: 100vw;
  height: 3.5rem;
  color: lightslategrey;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: linear-gradient(to right, #89B3C0 0%, 22.019867599010468%, #DE7684 44.039735198020935%, 72.01986759901047%, #8FA975 100%);
  background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
