* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    background-color: #fff;
}

/* custom styled scrollbars, discovered in article by Sara Cope @ https://css-tricks.com/almanac/properties/s/scrollbar/  */

body::-webkit-scrollbar {
    width: 0.20rem;
    height: 0.20rem;
    }

body::-webkit-scrollbar-track {
    background: lightslategrey;
    }

body::-webkit-scrollbar-thumb {
    background: slategrey;
    }

/* background-slider */

.hero-background { 
    /* position: absolute; */
    position: fixed;
    background-size: cover;
    width: cover;
    /* width: cover;
    height: 100vh; */
    /* background-color: white; */
    /* display: flex; */
    background: url("/workspace/Milestone-One-Project/assets/images/about-hero.jpg") no-repeat center top;
    /* background-image: url("https://live.staticflickr.com/6131/5972460380_d2057c8b6f_k.jpg"); */
}   

.navbar {
    background-color: transparent;
    transition: all 5ms ease-in-out;
}

.navbar-custom .navbar-nav,
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: lightslategrey;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 1.1rem;
    align-items: flex-start;
    flex-wrap: nowrap;
    transition: all 5ms ease-in-out;
}

.navbar-custom .navbar-brand {
    font-size: 1.4rem;
    margin-left: 9px;
}

.navbar .navbar-brand:hover {
    color: darkslategrey;
}

.navbar-custom .navbar-nav {
    display: inline-flex;
    justify-items: flex-end;
    position: fixed;
    right: 0;
}

.nav-item {
    justify-items: right;
    position: relative;
    margin-right: 14px;
    right: 0;
}

.nav-item a {
    display: inline-block;
    position: relative;
    right: 0;
    padding: 0;
}

.navbar-nav .nav-link a {
    justify-self: right;
    padding: 0 14px 0 0;
}

.navbar-custom .navbar-nav .nav-item a {
    color: lightslategrey;
    background-color: none;
}

.navbar-custom .navbar-nav .nav-item a:hover {
    color: darkslategrey;
}

.navbar-custom .navbar-toggler {
    display: inline-flex;
    justify-content: flex-end;
    font-size: 1rem;
    padding: 0;
    border: none;
    color: rgb(183, 193, 202);
    width: 2rem;
    height: 2rem;
    /* border: 1px solid orange; */
}

.navbar-custom .navbar-toggler:hover {
    color: darkslategrey;
}

@media only screen and (max-width : 767px) {
    nav {
        background-color: rgba(248, 248, 248, 0.724);
    }

    .navbar-custom .navbar-brand {
        display: block;
        z-index: 999;
        
    }
    
    nav .navbar-nav {
        display: flex;
        justify-items: center;
        align-items: center;
        width: 100vw;
        height: 66vh;
        background-color : rgba(248, 248, 248, 0.724);
    }

    nav ul {
        display: block;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        background: #fff;
    }
    
    .nav-link {
        display: flex;
        flex-direction: column;
        align-items: space-evenly;
        padding: 0;
        text-align: center;
        width: 100vw;
        height: 50vw;
        font-weight: 400;
    }  

    .navbar-custom .navbar-nav .nav-link a {
        padding: 0;
        width: fit-content;
        height: 4rem;
        margin: auto;
        font-size: 2rem;
        font-weight: 400;
        display: inline-block;
        text-transform: uppercase;
    /* ---text-shadow attribute read about here: https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow, then modified to suit my tastes---  */
        text-shadow: rgba(246, 145, 158, 0.259) 2px 1px 3px;
    /* "background-clip:text;" researched in article by Chris Coyier at https://css-tricks.com/almanac/properties/b/background-clip/
    then modified to suit my project's aesthetic, then applying a linear gradient I created from one of my photographs using Adobe Colors */
        background: linear-gradient(to right, #89B3C0 0%, 22.019867599010468%, #DE7684 44.039735198020935%, 72.01986759901047%, #8FA975 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar-custom .navbar-nav .nav-link a:hover {
        text-shadow: rgba(156, 215, 233, 0.8) 2px 1px 3px;
        background: linear-gradient(to right, #8FA975 0%, 22.019867599010468%, #DE7684 44.039735198020935%, 72.01986759901047%, #89B3C0 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar-custom .navbar-toggler {
        position: fixed;
        display: block;
        width: 28px;
        height: 28px;
        border-radius: 10%;
        z-index: 100;
        font-size: 1.3rem;
        right: 4vw;
        border-color: #fff;
    }

    .navbar-custom .navbar-toggler:hover {
        background: lightslategrey;
    }

    .nav-link-smooth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        /* padding: 100px 20px 100px; 20px; */
        transition: ease-in-out all 5ms;
    }
}

/* @media only screen and (min-width : 768px) { */

@media only screen and (min-width : 768px) {
    .navbar-custom .navbar-toggler {
        display: none;
    }
    .navbar-nav {
        position: fixed;
        width: 27vw;
        margin-right: 3vw;
        height: 30px;
        background: linear-gradient(to right, #89B3C0 0%, 22.019867599010468%, #DE7684 44.039735198020935%, 72.01986759901047%, #8FA975 100%);
        /* background: rgb(169, 181, 192); */
        /* border: 1px solid black; */
    }

    .navbar-custom .navbar-nav {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 4vw;
        right: 2vw;
        width: 344px;
    }

    .navbar-custom .navbar-brand {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 3.6vw;
        left: 4vw;
        font-size: 1.3rem;
        font-weight: 300;
        width: 200px;
        z-index: 999;
        height: 30px;
        color: darkslategrey;
        background: #fff;
    }

    .navbar-custom .navbar-brand a {
        display: block;
        background: #fff;
        height: 24px;
        z-index: 1001;
    }

    .navbar-custom .navbar-brand:hover {
        color: #fff;
        background-color: rgb(103, 102, 102);
    }

    .navbar-brand-box {
        display: flex;
        /* justify-content: flex-end; */
        position: fixed;
        top: 4vw;
        left: 4vw;
        width: 220px;
        height: 30px;
        background: linear-gradient(to right, #89B3C0 0%, 22.019867599010468%, #DE7684 44.039735198020935%, 72.01986759901047%, #8FA975 100%);
    }

    .navbar-custom .navbar-nav .nav-item a {
        font-size: 1.1rem;
    }

     .navbar-custom .navbar-nav .nav-item a:hover {
        color: #fff;
        background-color: rgb(103, 102, 102);
    }

    .nav-top {
        margin: 0 7vw 0 7vw;   
    }
}

/* <!-- Photo section --> */

.container-fluid {
    width: auto;
}

.photo-spacer {
    padding: 30vw 3vw 22vw 3vw;
    /* padding-top: 18vw;
    padding-bottom: 18vw; */
}

.mx-auto img {
    margin: auto 3vw 9vw 3vw;
    width: calc(100vw - 6vw);
    max-width: 1000px;
}

.gallerytest {
    display: grid;
    place-items: center;
}

.col-12 {
    margin: 0;
    padding: 0;
}

.caption {
    font-family: "Freight-sans-pro" sans-serif;
    font-weight: 300;
    font-size: .9rem;
    padding-top: 10px;
    text-align: right;
    color:slategrey;
}

.projects-page img {
    padding-bottom: 10px;
}