* {
    margin: 0;
    padding: 0;
}

/* moving to grid template layout for nav */

body {
    display: grid;
    /* grid-template-columns: minmax(180px, 18%) 1fr; */
    grid-template-columns: 160px 1fr;
    padding: 0;
    margin: 0;
    font-family: 'neue-kabel', sans-serif;
    font-weight: 300;
    background-color: #fdffff;
}

.sidebar {
    height: 100vh;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    position: fixed;
    width: 160px;
    top: 0;
    left: 0;
    background-color: #f3ebeb54;
    text-align: center;
    justify-content: center;
}

.sidebar-nav {
    display: block;
    flex-direction: column;
    text-align: center;
    padding: 0 3px;
}

.nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 20rem;
    padding-top: 77px;
}

.nav-items li {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: space-between;
    height: 100%;
}

.nav-items h5, h6 {
    font-size: 18px;
    font-weight: 300;
}

.content-page-right {
    display: flex;
    grid-column-start: 3;
    grid-column-end: 13;
    justify-self: center;
    padding: 0 1vw;
}

.thomono-logo {
    margin-top: 8px;
    padding: 28px 0 0 0;
    display: block;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    background-color: rgba(243, 235, 235, 0.88);
    background-color: rgb(255, 221, 221);
    font-size: 1.2rem;
    font-family: "Futura";
    font-weight: 300;
}

.thom-ono {
    letter-spacing: -.4px;
     text-align: left;
     height: 20px;
}

.tho-mono {
    letter-spacing: 1px;
    text-align: left;
    line-height: 20px;
}

.social-links {
    display: flex;
    flex-direction: column-reverse;
    justify-items: flex-start;
    height: 100%;
    width: 140px;
    position: absolute;
    bottom: 33px;
}